extends layout 


//- h1 Professor_Name
//-   h2 Department_of
//-   h3=profname
//-   |
//-   |
//-   h2 Rating
block content
  .profile
    table#central(align='center')
      tbody
        tr
          td
            p
              img(style='width: 150px;', src='/prof.jpg', alt='')
          td
            p
              strong    
          td
            p
              strong #{profile.name} 
            p Department #{profile.department} 
            p
              - var href = profile.homepage;
              h4              
                a(href=href) Homepage
  if (has_rated)
    h3 You have already rated
      //- h2 <a href="/professor/"+profid + "/rate/"> Update Rating </a> 
      h4 param1 = #{user_ratings.param1}
      h4 param2 = #{user_ratings.param2}
      h4 param3 = #{user_ratings.param3}
      h4 param4 = #{user_ratings.param4}
  else
      - var href = "/professor/" + profid+"/rate/";
      h4
        a(href=href) Rate 
  h1 RATINGS 
  p How well he teaches ? #{ratings.param1}
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star
  span.fa.fa-star
  p How fun is his research area ? #{ratings.param2}
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star
  p How he grades ? #{ratings.param3}
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  p How strict he is about attendance/deadlines ? #{ratings.param4}
  span.fa.fa-star.checked
  span.fa.fa-star.checked
  span.fa.fa-star
  span.fa.fa-star
  span.fa.fa-star
  style.
    .checked {
    color: orange;
    }
  .pb-2.mt-2.mb-4.border-bottom
  div(style='background-color:yellow;color:red;padding:20px;')
    h2 
      p(style='color:black;')
        b Comments About the Professor 
    ul 
      each val in comments
        li=val


  


